<div class="ui inverted menu">
  <div class="ui container">
    <%= link_to "Chat", root_path, class: 'red item' %>
    <a class="orange item">Messages</a>
    <a class="yellow item">Yellow</a>
    <a class="olive item">Olive</a>
    <a class="green item">Green</a>
    <a class="teal item">Teal</a>
    <div class="ui dropdown item">
      Account
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item"><i class="edit icon"></i> Edit Profile</a>
        <a class="item"><i class="globe icon"></i> Log Out</a>
        <%= link_to "<i class='globe icon'></i> Log In".html_safe, login_path, class: 'item' %>
        <a class="item"><i class="settings icon"></i> Sing Up</a>
      </div>
    </div>
  </div>
</div>