<div class="ui inverted menu">
  <div class="ui container">
    <%= link_to "Chat", root_path, class: 'red item' %>
    <a class="orange item">Messages</a>
    <a class="yellow item">Yellow</a>
    <a class="olive item">Olive</a>
    <a class="green item">Green</a>
    <a class="teal item">Teal</a>
    <div class="ui dropdown item">
      Account
      <i class="dropdown icon"></i>
      <div class="menu">
        <% if logged_in? %>
          <%= link_to "<i class='logout icon'></i> Log Out".html_safe, logout_path, :method => :delete, class: 'item' %>
        <% else %>
          <%= link_to "<i class='login icon'></i> Log In".html_safe, login_path, class: 'item' %>
          <%= link_to "<i class='signup icon'></i> Sing Up".html_safe, signup_path, class: 'item' %>
        <% end %>
      </div>
    </div>
  </div>
</div>